body {
  min-height:100%;
  padding:0;
  background-color: black;
}

#mainCon {
  background-color: purple;
}

blockquote {
  padding:5% 20% 0% 20%;
}

.btn {
  width:30%;
  margin:10% 35% 0% 35%;
}

#bottomRow {
  position:fixed;
  bottom:0;
  background-color:white;
  width:100%;
  text-align:center;
}

